site_name: VIREX
docs_dir: docs
site_dir: ./html
site_url: https://virex.readthedocs.io/en/latest/

repo_name: Soham-Metha/virex
repo_url: https://github.com/Soham-Metha/virex

nav:
  - Home: index.md
  - Instruction Set:
      - Instructions/index.md
      - Arithmetic: 
        - Arithmetic Instructions : Instructions/Arithmetic/index.md
        - Addition: Instructions/Arithmetic/Addition.md
        - Subtraction: Instructions/Arithmetic/Subtraction.md
        - Multiplication: Instructions/Arithmetic/Multiplication.md
        - Division: Instructions/Arithmetic/Division.md
        - Modulus: Instructions/Arithmetic/Modulus.md
  - Libs:
     - cmd: LIBS/univ_cmdutils.md
     - defs: LIBS/univ_defs.md
     - errors: LIBS/univ_errors.md
     - fileops: LIBS/univ_fileops.md
     - strings: LIBS/univ_strings.md
  - OCC:
      - CodeGen: OCC/O_codegenerator .md
      - Lexer: OCC/O_lexer .md
      - Parser: OCC/O_parser .md
  - SASM:
      - Assembler: SASM/sasm_assembler .md
      - Flags: SASM/sasm_flags .md
      - Instructions: SASM/sasm_instructions .md
      - Memory: SASM/sasm_memory .md
  - VM:
      - gbvm: VM/gbvm .md

theme:
  name: material
  highlightjs: true
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.code.highlight
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    - navigation.prune
    - navigation.tracking
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - search.suggest.autocomplete.enable
    - toc.follow
  
  palette:
    - scheme: nbl-dark
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
    - scheme: nbl-light
      toggle:
        icon: material/lightbulb 
        name: Switch to dark mode
  font:
    text: EnvyCodeR Nerd Font
    code: EnvyCodeR Nerd Font Mono
  favicon: assets/placeholder-favicon.png
  icon:
    #logo: assets/placeholder-favicon.png ## NEEDS SVG
extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
  - blog
  - minify:
      minify_html: true

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

  - markdown_include.include:
      base_path: .