
.md-typeset .admonition.custom,
.md-typeset details.custom {
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 4px solid;
  border-color: #5d6cc0;
}
.md-typeset .custom > .admonition-title,
.md-typeset .custom > summary {
  background-color: #303fa1;
}
.md-typeset .custom > .admonition-title::before,
.md-typeset .custom > summary::before {
  background-color: #5d6cc0;
  -webkit-mask-image: var(--md-admonition-icon--custom);
  mask-image: var(--md-admonition-icon--custom);
}
