:root {
  --md-admonition-icon--custom: url('data:image/svg+xml;charset=utf-8,');
}
.md-typeset .admonition.custom,
.md-typeset details.custom {
  border-right: 0px;
  border-top:0px;
  border-bottom: 0px;
  border: 4px solid;
  border-color: #303fa1;
}
.md-typeset .custom > .admonition-title,
.md-typeset .custom > summary {
  background-color: rgba(93, 108, 192, 0.0);
}
.md-typeset .custom > .admonition-title::before,
.md-typeset .custom > summary::before {
  background-color: #303fa1;
  -webkit-mask-image: var(--md-admonition-icon--custom);
          mask-image: var(--md-admonition-icon--custom);
}

[data-md-color-scheme="nbl-light"] {
  color-scheme: light;

  --md-default-fg-color--light: #1e2129;

  --md-primary-fg-color:        #00857d;
  --md-primary-fg-color--light: #00d9be;
  --md-primary-fg-color--dark:  #00a595;
  --md-primary-bg-color:        #fff;
  --md-primary-bg-color--light: #ffffffb3;

  --md-accent-fg-color:         #00d9be;
  --md-accent-fg-color--transparent:  #00d9be1a;
  --md-accent-bg-color:         #ffffff;
  --md-accent-bg-color--light:  #ffffffb3;

  --md-typeset-color:           #000000de;
  --md-typeset-a-color:         #00a595;
}

[data-md-color-scheme="nbl-dark"] {
  color-scheme: dark;

  --md-default-bg-color:        #1e2129;
  --md-default-fg-color--light: #ffffff;
  --md-default-fg-color:        #ffffff;

  --md-primary-fg-color:        #00857d;
  --md-primary-fg-color--light: #00d9be;
  --md-primary-fg-color--dark:  #00a595;
  --md-primary-bg-color:        #fff;
  --md-primary-bg-color--light: #ffffffb3;

  --md-accent-fg-color:         #00d9be;
  --md-accent-fg-color--transparent:  #ffffff1a;
  --md-accent-bg-color:         #ffffff;
  --md-accent-bg-color--light:  #ffffffb3;   
  
  --md-typeset-color:           #ffffff;
  --md-typeset-a-color:         #00ccb8;

  --md-code-fg-color:           #ffffff;
  --md-code-bg-color:           #272a35; 
  --md-code-hl-name-color:      #ffffff;
  --md-code-hl-string-color:    #ffffff;
  --md-code-hl-punctuation-color:#ffffffb3;
  --md-code-hl-operator-color:  #ffffffb3;
  --md-code-hl-comment-color:   #ffffff;
  --md-code-hl-generic-color:   #ffffff;
  --md-code-hl-variable-color:  #ffffff;


  --md-admonition-fg-color:     #ffffff;
  --md-admonition-bg-color:     #272a35;
}